@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

:root {
  --color-tomato: hsl(4, 100%, 67%);
  --color-dark-slate-grey: hsl(234, 18%, 26%);
  --color-charcoal-grey: hsl(231, 7%, 60%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

body {
  line-height: 1.5;
  background-color: var(--color-white);
}

h1 {
  margin: 0 0 2rem 0;
  font-size: 36px;
  font-weight: bold;
  color: var(--color-dark-slate-grey);
}

section {
  margin: auto;
  flex-direction: column;
}

ul {
  list-style: url("./assets/images/icon-list.svg");
}

li {
  margin-top: 1.2rem;
}

section > article:nth-child(2) {
  margin: 2rem;
  width: calc(100% - 4rem);
  height: 100%;
}

section > article:nth-child(1) {
  height: 20rem;
  width: 100%;
  background-image: url("./assets/images/illustration-sign-up-desktop.svg");
  background-position: center;
  background-size: cover;
  border-end-start-radius: 0.8rem;
  border-end-end-radius: 0.8rem;
}

form {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
}

form input {
  outline: none;
  border: var(--color-charcoal-grey) 1px solid;
  padding: 0.8rem;
  margin: 5px 0px 1rem 0px;
  border-radius: 5px;
  cursor: pointer;
}

button {

  padding: 0.8rem;
  color: var(--color-white);
  background-color: var(--color-dark-slate-grey);
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: var(--color-tomato);
  box-shadow: 0px 5px 15px var(--color-tomato);
  transform: scale(1.01);
}

form input:hover,
form input:focus {
  border-color: black;
}

.show_section {
  display: block !important;
}

#success_message {
  padding: 0 2rem;
  height: 100vh;
  position: relative;
}

h2 {
  font-size: 2.6rem;
  line-height: 2.4rem;
}

.success_message_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  height: 70vh;
}

.success_message_content img {
  height: 60px;
  width: 60px;
}

#success_message button {
  height: 50px;
  width: calc(100% - 4rem);
  
  position: absolute;
  bottom: 2rem;
}

.label-error-component-wrapper {
  display: flex;
  justify-content: space-between;
}

.email-error, .error {
  color: var(--color-tomato);
}

input.error {
  border-color: var(--color-tomato);
  outline: var(--color-tomato);
  background-color: hsla(4, 100%, 67%, 0.2);
}

@media screen and (min-width: 900px) {

  body {
    background-color: var(--color-dark-slate-grey);
  }

  main {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section {
    background-color: var(--color-white);
    margin: auto;
    padding: 2rem;
    width: 55rem;
    
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    gap: 2rem;
    
    border-radius: 1rem;
  }

  section > article:nth-child(2) {
    flex: 45;
    height: max-content;
    width: 100%;
  }

  section > article:nth-child(1) {
    flex: 50;
    height: 100%;
    border-start-start-radius: 0.8rem;
    border-start-end-radius: 0.8rem;
  }

  h1 {
    font-size: calc(3rem + 70%);
    line-height: 3.2rem;
  }

  h2 {
    font-size: 4rem;
    line-height: 4rem;
  }

  #success_message button {
    position: inherit;
    width: 100%;
  }

  #success_message {
    background-color: var(--color-white);
    height: 50vh;
    width: 25vw;
    position: inherit;

    border-radius: 2rem;
    margin: 2rem;
  }

  .success_message_content {
    background-color: var(--color-white);
    height: fit-content;
    margin: 3rem 0;

    gap: 2rem;
  }
}